tags
*.log
*.tar.xz
*.tar.gz
*.zip
/oppai
*.json
*.obj
*.exe
*.swp
*.so
*.dll
*.lib
*.exp
/test/test_suite
/test/oppai_test
/swig/**/*.c
/swig/*/*.i
/swig/python/oppai.egg-info
/swig/python/build
/swig/python/oppai.py
*.whl
*.pyc
